In [1]:
#Import dependencies
import pandas as pd

In [2]:
#Import .cvs file
loaded_cities = "cities.csv"

In [3]:
#Preview cities dataframe
cities_data_csv = pd.read_csv(loaded_cities)
cities_data_csv

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,half moon bay,37.46,-122.43,15.00,93,90,4.60,US,1596628534
1,1,dingle,11.00,122.67,25.55,87,100,1.77,PH,1596628534
2,2,marondera,-18.19,31.55,24.21,20,0,2.36,ZW,1596628535
3,3,dossor,47.53,52.98,28.34,30,85,4.76,KZ,1596628535
4,4,busselton,-33.65,115.33,12.22,86,34,0.89,AU,1596628535
...,...,...,...,...,...,...,...,...,...,...
550,550,nishihara,26.18,127.76,29.00,83,75,4.10,JP,1596628637
551,551,omboue,-1.57,9.26,24.76,72,97,3.58,GA,1596628637
552,552,bathsheba,13.22,-59.52,28.00,74,40,7.20,BB,1596628637
553,553,yugo-kamskiy,57.71,55.59,24.00,69,20,5.00,RU,1596628637
554,554,bac lieu,9.29,105.72,24.37,88,100,2.93,VN,1596628638

In [4]:
cities_data_csv = cities_data_csv.drop(cities_data_csv.columns[[0]], axis=1)
cities_data_csv

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,half moon bay,37.46,-122.43,15.00,93,90,4.60,US,1596628534
1,dingle,11.00,122.67,25.55,87,100,1.77,PH,1596628534
2,marondera,-18.19,31.55,24.21,20,0,2.36,ZW,1596628535
3,dossor,47.53,52.98,28.34,30,85,4.76,KZ,1596628535
4,busselton,-33.65,115.33,12.22,86,34,0.89,AU,1596628535
...,...,...,...,...,...,...,...,...,...
550,nishihara,26.18,127.76,29.00,83,75,4.10,JP,1596628637
551,omboue,-1.57,9.26,24.76,72,97,3.58,GA,1596628637
552,bathsheba,13.22,-59.52,28.00,74,40,7.20,BB,1596628637
553,yugo-kamskiy,57.71,55.59,24.00,69,20,5.00,RU,1596628637
554,bac lieu,9.29,105.72,24.37,88,100,2.93,VN,1596628638

In [5]:
cities_data_csv.rename_axis('City_ID', axis=1, inplace=True)
cities_data_csv

City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,half moon bay,37.46,-122.43,15.00,93,90,4.60,US,1596628534
1,dingle,11.00,122.67,25.55,87,100,1.77,PH,1596628534
2,marondera,-18.19,31.55,24.21,20,0,2.36,ZW,1596628535
3,dossor,47.53,52.98,28.34,30,85,4.76,KZ,1596628535
4,busselton,-33.65,115.33,12.22,86,34,0.89,AU,1596628535
...,...,...,...,...,...,...,...,...,...
550,nishihara,26.18,127.76,29.00,83,75,4.10,JP,1596628637
551,omboue,-1.57,9.26,24.76,72,97,3.58,GA,1596628637
552,bathsheba,13.22,-59.52,28.00,74,40,7.20,BB,1596628637
553,yugo-kamskiy,57.71,55.59,24.00,69,20,5.00,RU,1596628637
554,bac lieu,9.29,105.72,24.37,88,100,2.93,VN,1596628638

In [6]:
cities_data_html = cities_data_csv.to_html("Data_Table.html")